
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 

    
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      background-color: rgb(242, 244, 247);
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px;
  }
  
  

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    color:#333
  }
  

  header {
    background-color: #f4f4f4;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
  }
  

  nav ul {
    list-style: none;
    display: flex;
    
  }
  
  nav ul li {
    display: flex;
    margin-right: 300px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
  }

  .profile-picture {
    width: 150px;
    height: 150px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
  
  .hero {
    
    background: url('jogos.jpg') no-repeat center center/cover;
    color: #fff;
    height: 400px;
    display: flex;
    align-items: center;
  }
  
  .hero .container {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: #000000;
    background-color: #dadada;
  }

  nav ul li img {
    display: flex;
    height: 100px;
    margin: 50px;
   

}


  .btn {
    display: flex;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 15px;
    
  }
  


  
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    flex: 1;
    min-width: 250px;
  }
  
  


  #ver  :hover {
      color: #000000;
      cursor: pointer;
      transform: scale(1.01);
  }

  .like-button {
    background-color: #4CAF50;
    color: white;
}

  footer {
    background-color: #f4f4f4;
    padding: 20px 0;
    display: flex;
    align-items: baseline;
    border-top: 1px solid #ddd;
  }
